/*Roboto Font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    line-height: 2rem;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif, monospace;
    padding: 0px;
    margin: 0px;
}
:root {
    --orange: rgb(255, 154, 96);
}

body::-webkit-scrollbar {
    width: 20px;
    height: 20px;
}

body::-webkit-scrollbar-track {
    background-color: var(--orange);
    /* box-shadow: inset rgba(0, 0, 0, .4) 0px 0px 9px 0px; */
}

body::-webkit-scrollbar-thumb {
    border: 20px solid transparent;
    background-clip: content-box;
    background-color: #bd5d3f;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #6d301e;
}


html {
    /* background-color: rgb(133, 133, 133); */
    background-image: linear-gradient(to bottom, rgba(44, 52, 63, 1), rgba(9, 20, 34, 1));
    background-attachment: fixed;

}
#intro {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.322);
    margin-bottom: 15px;
    width: 500px;
    left: 50%;
    transform: translate(-50%);
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 40px;
}
h1 {
    /* margin-top: 30px; */
    color: var(--orange);
    text-align: center;
    margin-bottom: 15px;
}
#subtitle {
    color: white;
    text-align: center;
    /* margin-bottom: 15px; */
}
#name {
    width: 300px;
    /* background-color: rgb(255, 196, 0); */
}
#pfpWrap {
    display: flex;
}
#pfp {
    margin: auto;
    border-radius: 100%;
    width: 80px;
}
#about {
    width: 700px;
    text-align: center;
    margin: auto;
}
#linkwrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows */
    list-style: none;
    width: 1200px;
    max-width: 100%;
    margin: auto;
    font-size: 20px;
    /* background-color: rgb(136, 136, 136); */
    justify-content: center;
    align-items: center;

}
a,a:active {
    color:inherit;
    text-decoration: none;
}
.linkli {
    font-size: 2rem;
    margin: 10px;
    /* background-color: red; */
}
li {
    color: rgb(224, 224, 224);
    border: 6px solid rgb(82, 82, 82);
    padding: 10px 10px 10px 10px;
    background-color: rgb(104, 104, 104);
    border-radius: 20px;
    text-align: center;
    transform: scale(1);
    transition: color .25s, transform .25s, background-color .25s, border .25s;
}
li:hover {
    border: 6px solid rgb(165, 84, 52);
    color: rgb(255, 255, 255);
    transform: scale(1.01);
    background-color: rgb(224, 114, 70);
}
li>a>p {
    margin: 10px;
}
li>a>img {
    pointer-events: none;
    border-radius: 10px;
    display: block;
    /* height: calc(100% - 4rem); */
    max-height: 400px;
    width: 100%;
    max-width: 600px;
    object-fit: cover;
}
#about {
    position: fixed;
    height: 100%;
    left: -475px;
    top: 0px;
    width: 500px;
    border-right: 25px solid var(--orange);
    box-shadow:rgb(165, 84, 52) 6px 0px 0px;
    background-color: rgb(209, 209, 209);
    
    transition: transform .4s;
}
#about:hover {
    transform: translate(475px);
}
#aboutContent {
    /* padding: 20px; */
    font-size: 1.5rem;
    width: 80%;
    margin: auto;
    /* background-color: red; */
}
#aboutContent>p {
    margin-bottom: 15px;
    text-align:start;
    line-height: 3rem;
}
#aboutContent>hr {
    border: 1px solid rgba(0, 0, 0, 0.233);
    margin: 40px;
}
#aboutContent>h2 {
    margin: 40px;
    text-align: center;
}
#aboutContent>p>a {
    color:rgb(182, 94, 59)
}